<ng-template #userguidemodal id="userguide" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">User Guide</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-tabset #t>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-search" ></i> Search, Zoom</ng-template>
                <ng-template ngbTabContent>
                    <div class="user-guide-header">Search and Zoom Capabilities</div>
                    <div class="user-guide-item">
                        <div>
                            <img src='assets/userguide/zoom_plusminus.PNG' />
                        </div>
                        <p>
                            <b>Navigating the Map</b>The scroll wheel on the mouse can be used to zoom, and in the upper left
                            area of the tool are "+" and "-" icons to zoom in and out, respectively.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/homelocation.png" />
                        </div>
                        <p>
                            <b>Home Location</b>The crosshair button will zoom the map to your location, and the home button
                            will center the US on the map.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/site_popup.png" />
                        </div>
                        <p>
                            <b>Opening a Site Information Box</b>To open up a site information box, zoom in and hover over a
                            site until the mouse hand is pointing at it, then click on the circle at its location on the
                            map. This will open a popup window containing the site and project name.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/mult_sites.png" />
                        </div>
                        <p>
                            <b>Viewing Overlapping Sites</b>When two or more sites are overlapping, their spots on the map appear
                            darker.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/mult_sites_zoom.png" />
                        </div>
                        <p>
                            <b>Zoom into Overlapping Sites</b>In order to select overlapping sites, first zoom into them. When
                            you are close enough to select them, a circle with a number inside will appear, representing
                            the number of sites in that location.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/mult_sites_spiderfy.png" />
                        </div>
                        <p>
                            <b>Selecting Overlapping Sites</b>Once the circle containing the number of sites in the location
                            is in view, click on that circle. The sites will separate, and the user can then click on each
                            site to view their information.</p>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><span class="user-guide-tab"><i class="fa fa-list"></i> Explanation</span></ng-template>
                <ng-template ngbTabContent>
                    <div class="user-guide-header">Explanation</div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/explanation.png" />
                        </div>
                        <p>
                            <b>Explanation display</b>The explanation box can be expanded or collapsed</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/explanation_expanded_part.png" />
                        </div>
                        <p>
                            <b>Using the Explanation</b>The expanded Explanation box contains a legend for the available sites
                            and additional layers.</p>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><span class="user-guide-tab"><i class="fa fa-map"></i> Map Selection Options</span></ng-template>
                <ng-template ngbTabContent>
                    <div class="user-guide-header">Map Selection Options</div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/basemap_layers.PNG" />
                        </div>
                        <p>
                            <b>Changing the Basemap Style</b>The "Basemaps" panel allows a user to show various geographic information
                            or landscape imagery as a background layer.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/layers_add.png" />
                        </div>
                        <p>
                            <b>Changing or Adding Layers</b>The "Layers" sidebar allows a user to add or remove each individual
                            layer.
                        </p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/filter_sidebar.png" />
                        </div>
                        <p>
                            <b>Filtering Site and Project Selection</b>The "Filters" sidebar allows a user to select sites or
                            projects that match certain criteria.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/filter_sites.png" />
                        </div>
                        <p>
                            <b>Filter Sites</b>Once the user has selected "Change filters" on the "Filters" sidebar, the "Filter
                            Sites" portion allows the user to select criteria to filter the site selection.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/filter_projects.png" />
                        </div>
                        <p>
                            <b>Filter Sites</b>Once the user has selected "Change filters" on the "Filters" sidebar, the "Filter
                            Projects" portion allows the user to select criteria to filter the project selection.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/proj_name_search.png" />
                        </div>
                        <p>
                            <b>Search by Project Name</b>Alternatively, within the "Change filters" box, the user can filter
                            sites by choosing the name of the project, which will clear any other selected filters.</p>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><span class="user-guide-tab"><i class="fa fa-map"></i> Data Display</span></ng-template>
                <ng-template ngbTabContent>
                    <div class="user-guide-header">Selection Capabilities and Site Information</div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/project_list.PNG" />
                        </div>
                        <p>
                            <b>Using the Project List</b>Once a filter has been applied, information will appear in the "Project
                            List" sidebar. Here the user can sort the list, hide any projects containing no sites, or download
                            a ".csv" file containing the site information.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/proj_sites_expanded.png" />
                        </div>
                        <p>
                            <b>Viewing Project Sites</b>The list of project sites can be expanded or collapsed.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/proj_sites_all.png" />
                        </div>
                        <p>
                            <b>Showing All Sites Within a Project</b>The user can view the sites that meet the filtered criteria
                            within a project (orange) by selecting "Filtered", or all sites within the project by selecting
                            "All". Sites that do not meet the filtered criteria show up black.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/proj_highlight.png" />
                        </div>
                        <p>
                            <b>Highlighting a Project in the Project List</b>The user can highlight all of the sites within
                            a project by clicking on its name in the "Project List" sidebar. </p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/site_highlight.png" /> </div>
                        <p>
                            <b>Highlighting a Site in the Project List</b>Likewise, clicking on the name of a site will highlight
                            that site on the map.</p>
                    </div>
                    <div class="user-guide-item">
                        <div>
                            <img src="assets/userguide/proj_tabs.png" />
                        </div>
                        <p>
                            <b>Viewing Project Info</b>When a project is selected, you can view the project information using
                            the project tabs beneath the map. Drag the top of the box to expand, and move between the tabs
                            to view different project and site information.</p>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</ng-template>