<div>
    <button class="basemapBtn" (click)="toggleLayer('Topo')">
        <img id="Topo" alt="Topo" src="assets/topo.jpg" />
        Topo
    </button>
    <button class="basemapBtn" (click)="toggleLayer('OpenStreetMap')">
        <img id="streets" alt="streets" src="assets/streets.jpg" />
        Streets
    </button>            
    <button class="basemapBtn" (click)="toggleLayer('Terrain')">
        <img id="Terrain" alt="Terrain" src="assets/terrain.jpg" />
        Terrain
    </button>
    <button class="basemapBtn" (click)="toggleLayer('Satellite')">
        <img id="Satellite" alt="Satellite" src="assets/satellite.jpg" />
        Satellite
    </button>
    <button class="basemapBtn" (click)="toggleLayer('Gray')">
        <img id="Gray" alt="Gray" src="assets/gray.jpg" />
        Gray
    </button>
</div>           