#navbar {
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    color: #e7e4ce;
    position: absolute;
    z-index: 1;
    display: inline;
    font-family: BryantWebRegular, "Lucida Sans Unicode", "Lucida Grande",
        sans-serif;
    font-size: 40px;
    padding-right: 15px;
}
#usgsLogoDiv {
    float: left;
    background-color: Black;
    height: 65px;
    width: 150px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    line-height: 0px !important;
}
#headerLogo {
    background-color: black;
    width: 70%;
    float: left;
}
#usgsLogo {
    height: 45px;
    cursor: pointer;
}
#title {
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "BryantWebBold", "Lucida Sans Unicode", "Lucida Grande",
        sans-serif;
}
#titleSeparator {
    color: #f37a49;
    float: left;
    padding-right: 5px;
    padding-top: 10px;
    font-family: BryantWebBold, "Lucida Sans Unicode", "Lucida Grande",
        sans-serif;
}
#subTitle {
    padding-top: 10px;
    width: 60%;
}
#betaTitle {
    float: right;
    padding: 20px;
    font-size: 16px;
    color: #aaaab5;
}
#helpIcon {
    float: right;
    cursor: pointer;
    padding-top: 5px;
}
.aboutNav {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background: 0 0;
    font-size: 10pt;
    line-height: 16px;
    padding: 0 5px;
    text-transform: uppercase;
    margin: 0 4px;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    height: 60px;
}
