<ng-template #aboutmodal id="about" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title aboutTitle">About SiGL v{{appVersion}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-tabset #aboutTabs>
            <ngb-tab title="Introduction">
                <ng-template ngbTabContent>
                    <p>
                        Welcome to the new Science in the Great Lakes (SiGL) interface! If you would like help on how to use the application, please see
                        the User Guide.
                    </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="About SiGL" id="about">
                <ng-template ngbTabContent>
                    <p>
                        In the Great Lakes basin, there are numerous organizations undertaking scientific monitoring and research efforts with the
                        goal of identifying threats and evaluating management strategies that will protect and restore the
                        Great Lakes ecosystem. Coordination among all these stakeholders is a challenge, and having a centralized
                        location where researchers and managers can identify relevant scientific activities and access fundamental
                        information about these activities is crucial for efficient management.
                    </p>
                    <p>
                        To meet this need, the USGS has developed the Science in the Great Lakes (SiGL) Mapper, a data-discovery tool that captures
                        information about a wide range of scientific activities and provides details on how to access associated
                        data and products. SiGL helps researchers and managers strategically plan, implement, and analyze
                        monitoring and restoration activities by providing easy access to current and historical project
                        metadata, connecting them with project leads and data repositories, and assisting in the identification
                        of spatial and topical gaps in previous and ongoing monitoring efforts.
                    </p>
                    <p>
                        SiGL project and site information is voluntarily provided and managed by federal and state agencies, municipalities, Tribes,
                        universities, and nonprofit organizations. As of {{nowDate | date: 'yMMMMd'}}, SiGL contained {{projectCount
                        | number}} projects and {{siteCount | number}} sites from {{orgCount | number}} organizations.
                    </p>
                    <p>
                        If you would like to submit data to SiGL, or manage data currently residing in SiGL, please visit the
                        <a href="https://sigl.wim.usgs.gov/sigldms/" target="_blank">SiGL Data Management System</a> for more information.
                    </p>
                    <p>If you would like to utilize SiGL’s public web services, please visit our <span style="color: #007bff; cursor:pointer;" class="" (click)="aboutTabs.select('services')">SiGL Services Documentation</span> for more information.
                       <!-- <a href="https://sigl.wim.usgs.gov/SiGLServices/Documentation" target="_blank">SiGL Services Documentation</a> for more information.-->
                    </p>
                    <p>
                        SiGL’s goal is to serve the entire Great Lakes community, and we are open to feedback and ideas that will make SiGL a more
                        useful and comprehensive tool. If you have questions or comments, or would like to have your data
                        included in the SiGL, please contact <a target="_blank" [href]="'mailto:sigl@usgs.gov'">sigl@usgs.gov</a>
                    </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Disclaimers">
                <ng-template ngbTabContent>
                    <p>
                        <strong>USGS Data Disclaimer:</strong>
                        <br/> Unless otherwise stated, all data, metadata and related materials are considered to satisfy the
                        quality standards relative to the purpose for which the data were collected. Although these data
                        and associated metadata have been reviewed for accuracy and completeness and approved for release
                        by the U.S. Geological Survey (USGS), no warranty expressed or implied is made regarding the display
                        or utility of the data for other purposes, nor on all computer systems, nor shall the act of distribution
                        constitute any such warranty.
                    </p>
                    <p>
                        <strong>USGS Software Disclaimer:</strong>
                        <br /> This software has been approved for release by the U.S. Geological Survey (USGS). Although the software
                        has been subjected to rigorous review, the USGS reserves the right to update the software as needed
                        pursuant to further analysis and review. No warranty, expressed or implied, is made by the USGS or
                        the U.S. Government as to the functionality of the software and related material nor shall the fact
                        of release constitute any such warranty. Furthermore, the software is released on condition that
                        neither the USGS nor the U.S. Government shall be held liable for any damages resulting from its
                        authorized or unauthorized use.
                    </p>
                    <p>
                        <strong>USGS Product Names Disclaimer:</strong>
                        <br/> Any use of trade, firm, or product names is for descriptive purposes only and does not imply endorsement
                        by the U.S. Government.
                    </p>
                    <p>
                        <strong>SiGL Data Disclaimer:</strong>
                        <br/> SiGL project and site information is voluntarily provided and managed by federal and state agencies, municipalities, Tribes, universities, and nonprofit organizations. 
                        The USGS assumes no responsibility for the accuracy or completeness of information provided by other entities.
                    </p>
                    <p>
                        This web application functions best in Chrome, Firefox, or Safari. Internet Explorer works but with slower performance.
                    </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Services" id="services">
                <ng-template ngbTabContent>
                    <p>
                        <b>Link to SiGL Services Documentation page:</b>
                        <br/>
                        <a href="https://sigl.wim.usgs.gov/SiGLServices/Documentation" target="_blank">SiGLServices</a>
                    </p>
                    <p>
                        <b>Link to EPA Areas of Concern REST Services:</b>
                        <br/>
                        <a href="https://gis.wim.usgs.gov/arcgis/rest/services/SIGL/SIGLMapper/MapServer/1" target="_blank">EPA Areas of Concern REST Services</a>
                        <br/>
                        U.S Environmental Protection Agency, 2014, Great Lakes Areas of Concern (AOCs) shapefile, no metadata available. Originally downloaded from U.S. EPA website, no 
                        longer available as a single file. As of February 12, 2018, individual AOC boundary shapefiles were available at <a href="https://www.epa.gov/great-lakes-aocs/list-great-lakes-aocs-and-contacts" target="_blank">https://www.epa.gov/great-lakes-aocs/list-great-lakes-aocs-and-contacts</a>
                    </p>
                    <p>
                        <b>Link to Ceded Tribal Boundaries REST Services:</b>
                        <br/>
                        <a href="https://gis.wim.usgs.gov/arcgis/rest/services/SIGL/SIGLMapper/MapServer/4" target="_blank">Ceded Tribal Boundaries REST Services</a>
                    </p>
                    <p>
                        <b>Link to Tribal Reservation Boundaries REST Services:</b>
                        <br/>
                        <a href="https://gis.wim.usgs.gov/arcgis/rest/services/SIGL/SIGLMapper/MapServer/5" target="_blank">Tribal Reservation Boundaries REST Services</a>
                    </p>
                    <p>
                        <b>Link to Great Lakes Basins REST Services:</b>
                        <br/>
                        <a href="https://gis.wim.usgs.gov/arcgis/rest/services/SIGL/SIGLMapper/MapServer/3" target="_blank">Great Lakes Basins REST Services</a>
                        <br/>
                        U.S. stream networks: Moore, R. B., and Dewald, T. G., 2016, The road to NHDPlus— Advancements in digital stream networks and associated catchments: Journal of the American Water Resources Association 1–10. DOI: 10.1111/1752-1688.12389
                        Canada stream networks: Ontario Integrated Hydrology Data, 2012, Ontario Ministry of Natural Resources and Forestry, digital data, last accessed on Feb. 13, 2018, at <a href="https://www.ontario.ca/data/ontario-integrated-hydrology-data" target="_blank">https://www.ontario.ca/data/ontario-integrated-hydrology-data</a>
                        <br/>
                        Catchments were delineated using <a href="https://pubs.er.usgs.gov/publication/70039555" target="_blank">USGS National Elevation Dataset</a> which included elevation data from the Canada National Topographic Database.
                    </p>

                    <p>
                        This web application has been made possible by several open-source projects:
                    </p>
                    <p>
                        Project:
                        <a href="https://angular.io/" target="_blank">Angular</a>
                        <br/> Copyright (c) 2010-2017 Google, Inc.
                        <br/> License (
                        <a href="https://angular.io/license" target="_blank">MIT</a>)
                    </p>
                    <p>
                        Project:
                        <a href="http://leafletjs.com/" target="_blank">Leaflet</a>
                        <br/> Copyright (c) 2010-2016, Vladimir Agafonkin
                        <br/> Copyright (c) 2010-2011, CloudMade
                        <br/> All rights reserved.
                        <br/> License (
                        <a href="https://github.com/Leaflet/Leaflet/blob/master/LICENSE" target="_blank">2-Clause BSD</a>)
                    </p>
                    <p>
                        Project:
                        <a href="http://softsimon.github.io/angular-2-dropdown-multiselect/" target="_blank">angular-2-dropdown-multiselect</a>
                        <br/> Copyright (c) 2016, softsimon
                        <br/> License (
                        <a href="https://github.com/softsimon/angular-2-dropdown-multiselect/blob/master/LICENSE" target="_blank">MIT</a>)
                    </p>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <!-- end modal-body-->
</ng-template>