<ng-template #filtermodal id="filter" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Filter Map</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="filterContent">
            <h5>Filter Sites</h5>
            <div class="row">
                <label class="col-xs-3">Parameters: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="parameterMulti" [(ngModel)]="parameterSelected" (ngModelChange)="filterChange('parameters', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3">Site Resource Component: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="resourceMulti" [(ngModel)]="resourceSelected" (ngModelChange)="filterChange('resource', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3">Site Media: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="mediaMulti" [(ngModel)]="mediaSelected" (ngModelChange)="filterChange('media', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3">Great Lake: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="lakeMulti" [(ngModel)]="lakeSelected" (ngModelChange)="filterChange('lake', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3">State/Province: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="stateMulti" [(ngModel)]="stateSelected" (ngModelChange)="filterChange('state', $event)"></ss-multiselect-dropdown>
                </div>
            </div>

            <h5>Filter Projects</h5>
            <div class="row">
                <label class="col-xs-3">Project Duration: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="projDurationMulti" [(ngModel)]="projDurationSelected" (ngModelChange)="filterChange('duration', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3">Project Status: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="projStatusMulti" [(ngModel)]="projStatusSelected" (ngModelChange)="filterChange('status', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3">Monitoring effort or coordination: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="monitoringEffortMulti" [(ngModel)]="monitoringEffortSelected" (ngModelChange)="filterChange('monitoring', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3">Project Objective: </label>
                <div class="col-xs-6">
                    <ss-multiselect-dropdown [options]="objectiveMulti" [(ngModel)]="objectiveSelected" (ngModelChange)="filterChange('objective', $event)"></ss-multiselect-dropdown>
                </div>
            </div>
            <br/>
            <div class="row">
                <label class="col-xs-3">Project Organization: </label>
                <div class="col-xs-6">
                    <select class="form-control" [(ngModel)]="orgSelected" (ngModelChange)="filterChange('organization', $event)">
                        <option value=""></option>
                        <option [ngValue]="o" *ngFor="let o of organizationList">{{o.organization_name}}</option>
                    </select>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <label class="col-xs-3">Search by project name: (Clears the above filters)</label>
                <div class="col-xs-6">
                    <select class="form-control" [(ngModel)]="projectSelected" (ngModelChange)="onProjectSelect($event)" name="project">
                        <option value=""></option>
                        <option [ngValue]="p" *ngFor="let p of projectList">{{p.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" (click)="c('Clear')">Clear All</button>-->
        <button id="clearButton" type="button" (click)="Clear()">Clear All</button>
        <button id="closeButton" type="button" (click)="c('Search')" class="actionBtn">Close</button>
    </div>
</ng-template>
