<div #sigllegend class="legend" [style.width]="controlCollapsed ? '200px': '300px'"> 
    <div id="explanationHeader">
        <i aria-hidden="true" (click)="controlCollapsed=!controlCollapsed">
            <div id="explanation"><i id="facaret" class="fa fa-list pull-left down4" aria-hidden="true"></i>&nbsp;Explanation</div>
        </i>
    </div>
    <p class="contained" [hidden]="controlCollapsed">
        <b>Sites</b><br clear="all"/>
        <i class="legendSite"><span id="superiorDot" class="dot"></span></i>Lake Superior<br clear="all"/>
        <i class="legendSite"><span id="michiganDot" class="dot"></span></i>Lake Michigan<br clear="all"/>
        <i  class="legendSite"><span id="huronDot" class="dot"></span></i>Lake Huron<br clear="all"/>
        <i class="legendSite"><span id="erieDot" class="dot"></span></i>Lake Erie<br clear="all"/>
        <i class="legendSite"><span id="ontarioDot" class="dot"></span></i>Lake Ontario<br clear="all"/>
        <i class="legendSite"><span id="selectedOrangeDot" class="dot"></span></i> Filtered Highlighted<br clear="all"/>
        <i class="legendSite"><span id="selectedGreenDot" class="dot"></span></i>Unfiltered Highlighted<br/><br clear="all"/>

        <b>Additional Layers</b><br clear="all"/>
        <i id="epaLegend"></i> EPA Areas of Concern<br clear="all"/>
        <i id="cededLegend"></i> Ceded Tribal Boundaries<br clear="all"/>
        <i id="tribalLegend"></i> Tribal Reservation Boundaries<br clear="all"/>
    </p>               
</div>