<div #additionalLayers> 
    <button class="basemapBtn"><input [(ngModel)]="areasCheck" name="areasCheck" (change)="toggleLayer('areas')" type="checkbox"> EPA Areas of Conern</button>
    <button class="basemapBtn"><input [(ngModel)]="glriCheck" name="glriCheck" (change)="toggleLayer('glri')" type="checkbox"> USGS GLRI Nutrient and Contaminants of Emerging Concern Monitoring Basins</button>
    <button class="basemapBtn"><input [(ngModel)]="cededCheck" name="cededCheck" (change)="toggleLayer('ceded')" type="checkbox"> Ceded Tribal Boundaries</button>
    <button class="basemapBtn"><input [(ngModel)]="tribalCheck" name="tribalCheck" (change)="toggleLayer('tribal')" type="checkbox"> Tribal Reservation Boundaries</button>
    <!--<button class="basemapBtn" (click)="toggleLayer('areas')">
        EPA Areas of Conern
    </button>
    <button class="basemapBtn"  (click)="toggleLayer('glri')">        
        USGS GLRI Nutrient and Contaminants of Emerging Concern Monitoring Basins
    </button>            
    <button class="basemapBtn"  (click)="toggleLayer('ceded')">        
        Ceded Tribal Boundaries
    </button>
    <button class="basemapBtn"  (click)="toggleLayer('tribal')">
        Tribal Reservation Boundaries
    </button> -->
</div>           