#map {
   position:absolute;
   top:65px;
   bottom:0;
   width:100%;
}

#handle {
    position: absolute;
    top:0px;
    background-color: #59595C;
    color: #E7E4CE;
    width:100%;
    text-align: center;
}

#tabContainer{
    padding-top: 30px;
}

/**TODO: improve these or move elsewhere**/
.dataLabel{
    font-weight: bolder;
}
.dataHeader{
    color: orange;
    font-weight: bolder;
}

/*
to style leafle markers to look like circles (NOT cirlcleMarker)
..this is required in order to use leaflet overlapping spyderfier.
*/
.sigldivicon {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #ff7800;
    border: 1px solid #000;
    opacity: 0.1
}