<filter #filtermodal (modalResponseEvent)="FilterModalResponse($event)"></filter>
<div id="map"></div>
<div id="bottomBar" *ngIf="showBottomBar" [ngStyle]="style" mwlResizable [enableGhostResize]="true" [resizeCursorPrecision]="30" (resizeEnd)="onResizeEnd($event)" [resizeEdges]="{bottom: false, right: right, top: true, left: false}">
    <div id="handle"><i class="fa fa-arrows-v" aria-hidden="true"></i></div>

    <div id="tabContainer">
        <ngb-tabset>
            <ngb-tab title="Project Summary">
                <ng-template ngbTabContent>
                    <div>
                        <span *ngIf="fullProj" class="dataLabel">Project Name: </span> 
                        <span>{{fullProj.Name}}</span> 
                    </div>
                    <!--PIPE INSTEAD?-->
                    <div>
                        <div *ngIf="fullProj.Organizations.length > 0">
                            <span class="dataLabel">Organizations: </span>
                            <ul>
                                <li *ngFor="let org of fullProj.Organizations">{{org.OrganizationName}}</li>
                            </ul>
                        </div>
                        <div *ngIf="fullProj.ProjectWebsite">
                            <span class="dataLabel">Project Website:</span> 
                            <a target="blank" [href]="fullProj.ProjectWebsite">{{fullProj.ProjectWebsite}}</a> 
                        </div>
                        <div *ngIf="fullProj.Status">
                            <span class="dataLabel">Project Status: </span> 
                            <span>{{fullProj.Status}}</span>
                        </div>
                        <div *ngIf="fullProj.StartDate">
                            <span class="dataLabel">Start Date: </span> 
                            <span>{{fullProj.StartDate}}</span>
                        </div>
                        <div *ngIf="fullProj.EndDate">
                            <span class="dataLabel">End Date: </span> 
                            <span>{{fullProj.EndDate}} </span>
                        </div>
                        <div *ngIf="fullProj.Objectives.length > 0">
                           <span class="dataLabel">Objectives:</span>
                           <ul>
                               <li *ngFor="let obj of fullProj.Objectives">{{obj.objective}}</li>
                           </ul>
                        </div>
                        <div *ngIf="fullProj.MonitoringCoords.length > 0">
                            <span class="dataLabel">Project Monitoring Effort: </span>
                            <ul>
                                <li *ngFor="let MC of fullProj.MonitoringCoords">{{MC.effort}}</li>
                            </ul>
                        </div>
                        <div *ngIf="fullProj.Duration">
                            <span class="dataLabel">Project Duration: </span> 
                            <span>{{fullProj.Duration}} </span>
                        </div>
                        <div *ngIf="fullProj.Description">
                            <span class="dataLabel">Project Description: </span> 
                            <span>{{fullProj.Description}}</span>
                        </div>
                        <div *ngIf="fullProj.Keywords.length > 0">
                            <span class="dataLabel">Project Keywords: </span>
                            <ul>
                                <li *ngFor="let KW of fullProj.Keywords">{{KW.term}}</li>
                            </ul>
                        </div>
                        <div *ngIf="fullProj.AdditionalInfo">
                            <span class="dataLabel">Additional Project Information: </span> 
                            <span>{{fullProj.AdditionalInfo}}</span>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Data/Publications">
                <ng-template ngbTabContent>
                    <p>Pubs</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Contact Info.">
                <ng-template ngbTabContent>
                    <p>Contact info</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Project Sites">
                <ng-template ngbTabContent>
                   <ng-container *ngTemplateOutlet="innerTabset"></ng-container>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
        
        <ng-template #innerTabset>
            <ngb-tabset>
                <ngb-tab>
                <ng-template ngbTabTitle>
                    Site Details
                </ng-template>
                <ng-template ngbTabContent>
                    <span *ngIf="fullProjSites.length > 0">
                        <ul>
                            <li *ngFor="let fps of fullProjSites">{{fps.Name}}</li>
                        </ul> 
                    </span>
                </ng-template>
                </ngb-tab>
                <ngb-tab>
                <ng-template ngbTabTitle>
                    Parameters Sampled
                </ng-template>
                <ng-template ngbTabContent>
                    PARAMETERS YO
                </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </ng-template>
    </div>

    



</div>