#map {
   position:absolute;
   top:65px;
   bottom:0;
   width:100%;
}

#handle {
    position: absolute;
    top:0px;
    background-color: #59595C;
    color: #E7E4CE;
    width:100%;
    text-align: center;
}

#tabContainer{
    padding-top: 30px;
}

/**TODO: improve these or move elsewhere**/
.dataLabel{
    font-weight: bolder;
}
.dataHeader{
    color: orange;
    font-weight: bolder;
}

/*
to style leafle markers to look like circles (NOT cirlcleMarker)
..this is required in order to use leaflet overlapping spyderfier.
*/
.superiorDivicon{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    color: 'red';
    background: #478D6F;
    opacity: 0.85
}

.michiganDivicon{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #998B66;
    opacity: 0.85
}

.huronDivicon{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #81221F;
    opacity: 0.85
}

.erieDivicon{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #B7B85D;
    /*border: 1px solid #000;*/
    opacity: 0.85
}

.ontarioDivicon{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #693491;

    opacity: 0.85
}

.otherDivicon{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: red;
    opacity: 0.85
}