/* You can add global styles to this file, and also import other style files */

/*
UNIVERSAL
UNIVERSAL
UNIVERSAL
*/
*{
  outline:none !important;
}
*:hover, *:focus, *:active{
  outline: none !important;
}
a:hover{
  text-decoration: none;
}
button:hover{
  cursor: pointer;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  color: #10152C !important;
  border-bottom: 3px solid #0F8AFF !important;
}

.nav-tabs .nav-link{
  border-radius: 0px !important;
  margin: 0 !important;
  border: none !important;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  padding-top: 11px !important;
  color: #A9A9A9;
  min-width: 140px;
  max-width: 200px;
  text-align: center;
}
button{
  border: none;
  background-color: #ECEEF4;
  padding: 10px 14px;
  border-radius: 3px;
  color: rgba(0,0,0,0.6);
  letter-spacing: -0.25px;
  font-weight: 500;
}
button:hover{
  color: black;
}

.actionBtn{
  background-color: #0F8AFF;
  color: rgba(255,255,255,0.85);
}
.actionBtn:hover{
  color: white;
}

#clearButton {
  min-width: 25%;
  color: white;
  background-color:rgb(134, 142, 150);
  margin-right: 10px;
}

#closeButton {
  max-width: 70%;
  padding-right: 40px;
  margin-right: 15px;
}
/*
HEADER
HEADER
HEADER

#headerLogo{
  background-color: black;
}*/

#titles{
  color: white;
  height: 65px;
  font-size: 29px;
}
.appname{
  color: white;
}
#subTitle{
  width: 100% !important;
}

#helpIcon{
  filter: brightness(200%);
  transition: 0.2s;
}
#helpIcon:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
}


/*
LEFT SIDEBAR
LEFT SIDEBAR
LEFT SIDEBAR
*/
.sidebar{
  background-color: #ECEEF4;
  box-shadow:0 1px 15px rgba(0,0,0,.22) !important;
}
#sidebar .card{
  border-radius:0;
  transition: 0.2s;
  border: none;
  background-color: transparent;
}
#sidebar .card:hover .card-header{
  background-color: #edf1f4;
  transition: 0.2s;
}
#sidebar .card-header{
  transition: 0.2s;
  padding: 0;
  border-radius: 0 !important;
}
#sidebar .card-header.active{
  background-color: #edf1f4 !important;
}


#sidebar .card-header a{
  font-size: 18px;
  font-weight: bolder;
  opacity: 0.8;
  color: #10172C;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.basemapBtn:hover{
  cursor: pointer;
}
.card-header a:hover{
  text-decoration: none;
  opacity: 1;
}
.card-header a:after {
  content: '\f0da';
  font-family: 'FontAwesome';
}
.card-header.active a:after {
    content: '\f0d7';
    font-family: 'FontAwesome';
}
.card-header .badge{
  position: relative;
  top: -2px;
}

#sidebar .card-body{
  background-color: white;
  box-sizing: border-box;
  padding: 15px 0;
}


/*
MODAL
MODAL
MODAL
*/
.modal-content {
  min-width: 120%;
  /*position: absolute;*/
}

.modal-body {
  max-height: 700px;
  overflow-y: auto;
}

.modal-body p{
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.25px;
  color: rgba(0,0,0,0.725);
}
.modal-header .close{
  position: relative;
  top: 3px;
}
.modal-header .close:hover{
  cursor: pointer;
}


/*
LEAFLET TWEAKS
LEAFLET TWEAKS
LEAFLET TWEAKS
*/
.leaflet-control-layers.leaflet-control{
  background-color: white;
  border: none !important;
}
.leaflet-control-layers-expanded{
  padding: 25px;
}
.leaflet-control-layers-expanded input[type="radio"],
.leaflet-control-layers-expanded input[type="checkbox"]{
  position: relative;
  top: -0.5px;
  margin: 0 4px 0 0;
}
.leaflet-control-layers-list{
  letter-spacing: -0.25px;
  font-weight: 500;
}

.leaflet-control-layers-overlays label:hover{
  cursor: pointer;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.leaflet-control-defaultextent {
  width: 34px;
  height: 34px;
  display: block;
  top: 48px;
}

.leaflet-control-defaultextent-toggle {
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('./assets/leaflet.defaultextent.png');
  position: fixed;
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .leaflet-control-defaultextent-toggle {
        background-image: url('./assets/leaflet.defaultextent@2X.png');
        background-size: 26px 26px;
        background-repeat: no-repeat;
    }
}

.leaflet-control-zoom-display {
  background-color: #fff;
  /*border-bottom: 1px solid #ccc;
  width: 26px;*/
/*  height: 26px;
  line-height: 26px;*/
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 0.3em;
  font: bold 12px/20px Tahoma, Verdana, sans-serif;
  position: relative;
  bottom: 116px;
}
.leaflet-left .leaflet-control-scale {
  margin-left: 120px;
  position: relative;
  bottom: 160px;
}
.leaflet-control-zoom {
  position: relative;
  top: 48px;
}
.row{
  margin: 0;
}

/*#projList hr{
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}*/
#sidebar .pull-right.btn-group{
  position: relative;
  top: 4px;
}

#projList .btn-group{
  margin-top: 10px;
  padding-left: 3px;
}

#filterContent .row{
  padding: 10px;
}
#filterContent .row label{
  margin-top: 6px;
  margin-right: 25px;
}

#filterContent h5{
  font-size: 24px;
  font-weight: 600;
  padding-top: 35px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin: 0;
  padding-bottom: 10px;
}


label.filtered{
  background-color: #F17A4F !important;
  letter-spacing: -0.25px;
  font-weight: 500;
}
label.filtered:hover,
label.all:hover{
  cursor: pointer;
}
label.all{
  background-color: #10152C !important;
  letter-spacing: -0.25px;
  font-weight: 500;
}

#sidebar .pull-right.btn-group active{
  box-shadow: 0 0 0 1px rgba(15,138,255, 0.95) !important;
}

/*
DROPDOWNS
DROPDOWNS
DROPDOWNS
*/
.dropdown-menu .dropdown-item a{
  color: black !important;
}
.dropdown-menu .dropdown-item:active a,
.dropdown-menu .dropdown-item.active a{
  color: white !important;
  background-color: #0F8AFF;
}
.dropdown-toggle{
  border: none;
  background-color: #ECEEF4;
  padding: 8px 14px;
  border-radius: 3px;
  color: rgba(0,0,0,0.6);
  letter-spacing: -0.25px;
  font-weight: 500;
}


/*
BOTTOM POPOVER
BOTTOM POPOVER
BOTTOM POPOVER
*/
#handle{
  background-color: black !important;
}
#tabContainer{
  box-sizing: border-box;
  padding: 55px 25px !important;
}
.dataHeader{
  padding: 15px 0;
  display: block;
}
.tab-pane{
  padding: 15px;
}



/*
NAV/MENU
NAV/MENU
NAV/MENU
*/
#usgsLogoDiv{
  display: flex !important;
  width: auto !important;
  box-sizing: border-box;
  padding: 17px 15px 0 15px !important;
  background-color: transparent !important;
}
#usgsLogo{
  height: 30px !important;
}
#mobileMenuBtn{
  font-size: 28px;
  color: white;
  margin-right: 30px;
  margin-left: 10px;
  display: none;
  transition: 0.1s;
}
#mobileMenuBtn:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s;
}
#navbar{
  background-color: #10162C !important;
}
#headerLogo{
  background-color: #10162C !important;
}
.aboutNav{
  color: white !important;
  margin-top: 2px !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
  letter-spacing: -0.25px !important;
}

.appname{
  font-size: 18px;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  line-height: 18px;
}

/*
Sidebar Responsiveness
Sidebar Responsiveness
Sidebar Responsiveness
*/
#map{
  width: calc(100% - 400px) !important;
  margin-left: 400px;
}
#bottomBar{
  width: calc(100% - 400px) !important;
}
@media (max-width: 1280px) {
  #sidebar{
    left: -450%;
  }
  #bottomBar{
    left: 0 !important;
  }
  #map{
    width: 100% !important;
    margin-left: 0px !important;
  }
  #bottomBar{
    width: 100% !important;
  }
  #mobileMenuBtn{
    display: inline-block;
  }
}

#sidebar.sidebar-mobile-show{
  left: 0px !important;
}



/*
  Sidebar Footer
*/
.sidebar-footer{
  display: block;
  box-sizing: border-box;
  padding: 15px !important;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sidebar-identification{
  display: block;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  transform: scale(1);
  margin-bottom: 10px;
}
.sidebar-identification:hover{
  transition: 0.2s;
  transform: scale(1.025);
}
.sidebar-identification img{
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}
.sidebar-footer a{
  font-size: 10px;
  color: rgba(0,0,0,0.5);
}

/*
Misc
Misc
Misc
*/
#handle i{
  color: white;
}
#handle{
  background-color: #10162C !important;
}
#tabContainer{
  background-color: rgb(247, 247, 249) !important;
}
#bottomBar #tabContainer{
  width: 100% !important;
}

.actionBtn{
  width: 100%;
  text-align: center;
  transition: 0.2s;
  color:white;
}
.actionBtn:hover{
  transition: 0.2s;
  color: rgba(255,255,255,0.88);
  cursor: pointer;
}

#bottomBar #tabContainer{
  height: auto !important;
  max-height: 100% !important;
  overflow-x: hidden;
  overflow-y: scroll;
}


/*  
  Mitch - May 1
  Mitch - May 1
  Mitch - May 1
*/
.projDiv div:nth-child(1){
  display: flex;
  font-size: 13px;
  line-height: 17px;
  justify-content: flex-start;
  padding: 1.5px;
}
.projDiv div:nth-child(1) span{
  flex-grow:3;
}
.projDiv div:nth-child(1) .pull-right{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 4px;
}
.projDiv div:nth-child(1) .pull-right .badge{
  max-height:14px;
}
.projDiv div:nth-child(1) a:nth-child(1) .fa-caret-right,
.projDiv div:nth-child(1) a:nth-child(1) .fa-caret-down{
  width: 15px;
  font-size: 16px;
}
.projDiv .marginLeft{
  box-sizing: border-box;
  padding: 2px 0 !important;
  font-size: 12px !important;
  line-height: 14px !important;
}
.projDiv .marginLeft a{
  font-size: 12px !important;
  line-height: 13px !important;
}
.projDiv .fa-caret-down{
  padding-right: 5px !important;
}
.projDiv div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding-left: 8px;*/
  padding: 1.5px;
}

/* Align site count to right */


.modal-body #filterContent h5{
  padding-top: 0;
  margin:10px 0;
  font-size: 16px;
  width: 100%;
}
.modal-body #filterContent{
  display: flex;
  flex-wrap:wrap;
}

.modal-body #filterContent .row{
  width: 50%;
  display: flex;
  box-sizing:border-box;
  padding: 5px 20px;
}


.modal-body #filterContent .row label{
  font-weight: 500;
  font-size: 14px;
  flex-grow: 3;
}

.dropdown-item.active, .dropdown-item:active{
  color: black !important;
  background-color:transparent;
}

.dropdown-item.active a {
    color: black !important;
    background-color: transparent !important;
}
.dropdown-item.active a span {
    color: black !important;
    background-color: transparent !important;
}



.modal-body #filterContent .row{
  flex-wrap: nowrap;
}
.modal-body #filterContent .row label{
  min-width: 200px;
  font-size:13px;
  line-height: 15px
}
.dropdown-menu{
  left: auto;
  right: 0;
  overflow: visible;
}

.dropdown-item a span{
  display:inline-flex;
  flex-direction:column;
  justify-content: center;
  width: 250px;
  font-size:14px;
  line-height: 16px;
  white-space:pre-wrap;
  box-sizing:border-box;
  padding-left: 5px;
}
.modal-body #filterContent .row label,.modal-body #filterContent .col-xs-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body #filterContent .row .dropdown{
  display: block;
  font-size:12px !important;
  max-width: 300px;
}

.dropdown-toggle{
  white-space: pre-wrap !important;
  font-size:13px;
  text-align:left;
  width: 200px;
  display:flex;
  justify-content:space-between;
}

.dropdown-toggle:after{
  position:relative;
  top:5px;
}

/* KJ Misc. Edits*/

#filterModal {
  overflow-y: visible;
}

select:hover, option:hover {
  cursor: pointer !important;
}

.marginLeft {
  justify-content: left !important;
}

#selectByProject {
  padding-top: 10px !important;
  border-top: 1px solid rgba(0,0,0,0.15);
}


/* Modal Fixes */
.modal-dialog{
  width: 90% !important;
  max-width: 800px !important;
  position: absolute !important;
  top: 10vh;
  margin: 0 !important;
  left: 50%;
  margin-left: -400px !important;
  max-height: 80% !important;
  height: auto !important;
}
@media (max-width: 900px) {
  .modal-dialog{
    left: 0 !important;
    margin: 5% !important;
  }
}

.modal-content{
  width: 100% !important;
  min-width: 0 !important;
  max-width: 100% !important;
  max-height: 80vh !important;
}

.modal-body{
  overflow-x: hidden;
}

.modal-header .close{
  top: -2px !important;
}
.modal-header .modal-title{
  font-size: 18px !important;
  line-height: 22px !important;
}

.modal-body .nav-tabs{
  justify-content: center !important;
  box-sizing: border-box;
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  .modal-body .nav-tabs{
    flex-wrap: wrap !important;
  }
}
.modal-body .nav-tabs .nav-item{
  flex-grow: 3;
}
.modal-body .nav-tabs .nav-link{
  padding: 5px 5px 5px 5px !important;
  margin: 0;
  min-width: 0;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11.5px;
  line-height: 13px;
  height: 100%;
  box-sizing: border-box;
  border: none !important;
  border-radius: 4px;
}
.modal-body .nav-tabs .nav-link:hover{
  color: black !important;
}
.modal-body .nav-tabs .nav-link.active{
  background-color: rgba(240,240,246,0.8) !important
}
.modal-body .nav-tabs .nav-link i{
  display: block;
  width: 100%;
  text-align: center;
}
.aboutTitle{
  color: inherit !important;
}

#explanationHeader{
  border-radius: 4px !important;
  padding: 10px;
  padding-left: 14px;
  cursor: pointer;
  background-color: white;
  text-align: center;
}
#explanation{
  font-style: normal;
  text-transform: none !important;
  font-weight: 500;
  font-size: 14px !important;
  letter-spacing: 0.3px;
}
.legend{
  box-shadow:0 1px 15px rgba(0,0,0,.15) !important;
  border-radius: 3px !important;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: 0 1px 15px rgba(0,0,0,.15);
  border: none !important;
  background-clip: padding-box;
  font-size: 11px !important;
  font-weight: 500 !important;
}
.leaflet-control-zoom-display{
  padding: 5px 8px !important;
}
.leaflet-touch .leaflet-bar a{
  line-height: 27px !important;
}
.leaflet-control-zoom-in{
  line-height: 25px !important;
}

/* User guide */
.user-guide-header{
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0 15px 0;
}
.user-guide-item:nth-child(even){
  background-color: rgba(240,240,246,0.8) !important
}

button{
  padding: 5px 8px !important;
  font-size: 13px !important;
  letter-spacing: 0.3px !important;
}

/* Sidebar header */
#sidebar .card-header a{
  font-size: 16px !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
  padding: 14px !important;
}

body{
  font-size: 13px !important;
  line-height: 16px !important;
}

.projDiv .collapse a{
  color: rgb(33, 37, 41) !important;
  font-weight: 500 !important;
  padding: 4px 8px !important;
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
  width: 100% !important;
  font-size: 12px !important;
  line-height: 14px !important;
  display: block  !important;
  width: 94% !important;
  margin-left: 6% !important;
}

/* Mobile nav fixes  */
@media (max-width: 800px) {
  #navBar{
    display: flex !important;
    padding-right: 0px !important;
  }
  #usgsLogoDiv{
    padding-left: 5px !important;
    padding-top: 22px !important;
  }
  #usgsLogoDiv #mobileMenuBtn{
    margin-right: 15px !important;
    font-size: 20px !important;
  }
  #usgsLogo{
    height: 20px !important;
  }
  #headerLogo #titles .appname{
    font-size: 13px !important;
    margin: 0 !important;
    line-height: 15px !important;
  }
  .aboutNav{
    font-size: 12px !important;
    font-weight: 600 !important;
    padding: 2px !important;
    margin: 0 !important;
  }
  .aboutNav i{
    display: none !important;
  }
}
@media (max-width: 400px) {
  #usgsLogo{
    display: none;
  }
}