/* You can add global styles to this file, and also import other style files */

/*
UNIVERSAL
UNIVERSAL
UNIVERSAL
*/
*{
  outline:none !important;
}
*:hover, *:focus, *:active{
  outline: none !important;
}
a:hover{
  text-decoration: none;
}
button:hover{
  cursor: pointer;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  color: #10152C !important;
  border-bottom: 3px solid #0F8AFF !important;
}

.nav-tabs .nav-link{
  border-radius: 0px !important;
  margin: 0 !important;
  border: none !important;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  padding-top: 11px !important;
  color: #A9A9A9;
}
button{
  border: none;
  background-color: #ECEEF4;
  padding: 8px 14px;
  border-radius: 3px;
  color: rgba(0,0,0,0.6);
  letter-spacing: -0.25px;
  font-weight: 500;
}
button:hover{
  color: black;
}

.actionBtn{
  background-color: #0F8AFF;
  color: rgba(255,255,255,0.85);
}
.actionBtn:hover{
  color: white;
}
/*
HEADER
HEADER
HEADER

#headerLogo{
  background-color: black;
}*/

#titles{
  color: white;
  height: 65px;
  font-size: 29px;
}
.appname{
  color: white;
}
#subTitle{
  width: 100% !important;
}

#helpIcon{
  filter: brightness(200%);
  transition: 0.2s;
}
#helpIcon:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
}


/*
LEFT SIDEBAR
LEFT SIDEBAR
LEFT SIDEBAR
*/
.sidebar{
  background-color: #ECEEF4;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#sidebar .card{
  border-radius:0;
  transition: 0.2s;
  border: none;
  background-color: transparent;
}
#sidebar .card:hover .card-header{
  background-color: #edf1f4;
  transition: 0.2s;
}
#sidebar .card-header{
  transition: 0.2s;
  padding: 0;
  border-radius: 0 !important;
}
#sidebar .card-header.active{
  background-color: #edf1f4 !important;
}


#sidebar .card-header a{
  font-size: 18px;
  font-weight: bolder;
  opacity: 0.8;
  color: #10172C;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.basemapBtn:hover{
  cursor: pointer;
}
.card-header a:hover{
  text-decoration: none;
  opacity: 1;
}
.card-header a:after {
  content: '\f0da';
  font-family: 'FontAwesome';
}
.card-header.active a:after {
    content: '\f0d7';
    font-family: 'FontAwesome';
}
.card-header .badge{
  position: relative;
  top: -2px;
}

#sidebar .card-body{
  background-color: white;
}


/*
MODAL
MODAL
MODAL
*/

.modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.modal-body p{
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.25px;
  color: rgba(0,0,0,0.725);
}
.modal-header .close{
  position: relative;
  top: 3px;
}
.modal-header .close:hover{
  cursor: pointer;
}


/*
LEAFLET TWEAKS
LEAFLET TWEAKS
LEAFLET TWEAKS
*/
.leaflet-control-layers.leaflet-control{
  background-color: white;
  border: none !important;
}
.leaflet-control-layers-expanded{
  padding: 25px;
}
.leaflet-control-layers-expanded input[type="radio"],
.leaflet-control-layers-expanded input[type="checkbox"]{
  position: relative;
  top: -0.5px;
  margin: 0 4px 0 0;
}
.leaflet-control-layers-list{
  letter-spacing: -0.25px;
  font-weight: 500;
}

.leaflet-control-layers-overlays label:hover{
  cursor: pointer;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.leaflet-control-defaultextent-toggle {
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('./assets/leaflet.defaultextent.png');
  width: 26px;
  height: 26px;
  display: block;
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .leaflet-control-defaultextent-toggle {
        background-image: url('./assets/leaflet.defaultextent@2X.png');
        background-size: 26px 26px;
        background-repeat: no-repeat;
    }
}

.row{
  margin: 0;
}

#projList hr{
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}
#sidebar .pull-right.btn-group{
  position: relative;
  top: 4px;
}

#projList .btn-group{
  margin-top: 10px;
}

#filterContent .row{
  padding: 10px;
}
#filterContent .row label{
  margin-top: 6px;
  margin-right: 25px;
}

#filterContent h5{
  font-size: 24px;
  font-weight: 600;
  padding-top: 35px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin: 0;
  padding-bottom: 10px;
}


label.filtered{
  background-color: #F17A4F !important;
  letter-spacing: -0.25px;
  font-weight: 500;
}
label.filtered:hover,
label.all:hover{
  cursor: pointer;
}
label.all{
  background-color: #10152C !important;
  letter-spacing: -0.25px;
  font-weight: 500;
}

#sidebar .pull-right.btn-group active{
  box-shadow: 0 0 0 1px rgba(15,138,255, 0.95) !important;
}

/*
DROPDOWNS
DROPDOWNS
DROPDOWNS
*/
.dropdown-menu .dropdown-item a{
  color: black !important;
}
.dropdown-menu .dropdown-item:active a,
.dropdown-menu .dropdown-item.active a{
  color: white !important;
  background-color: #0F8AFF;
}
.dropdown-toggle{
  border: none;
  background-color: #ECEEF4;
  padding: 8px 14px;
  border-radius: 3px;
  color: rgba(0,0,0,0.6);
  letter-spacing: -0.25px;
  font-weight: 500;
}


/*
BOTTOM POPOVER
BOTTOM POPOVER
BOTTOM POPOVER
*/
#handle{
  background-color: black !important;
}
#tabContainer{
  box-sizing: border-box;
  padding: 55px 25px !important;
}
.dataHeader{
  padding: 15px 0;
  display: block;
}
.tab-pane{
  padding: 15px;
}



/*
NAV/MENU
NAV/MENU
NAV/MENU
*/
#usgsLogoDiv{
  display: flex !important;
  width: auto !important;
  box-sizing: border-box;
  padding: 17px 15px 0 15px !important;
  background-color: transparent !important;
}
#usgsLogo{
  height: 30px !important;
}
#mobileMenuBtn{
  font-size: 28px;
  color: white;
  margin-right: 30px;
  margin-left: 10px;
  display: none;
  transition: 0.1s;
}
#mobileMenuBtn:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s;
}
#navbar{
  background-color: #10162C !important;
}
#headerLogo{
  background-color: #10162C !important;
}
.aboutNav{
  color: white !important;
  margin-top: 2px !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
  letter-spacing: -0.25px !important;
}

.appname{
  font-size: 18px;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  line-height: 18px;
}

/*
Sidebar Responsiveness
Sidebar Responsiveness
Sidebar Responsiveness
*/
#map{
  width: calc(100% - 400px) !important;
  margin-left: 400px;
}
#bottomBar{
  width: calc(100% - 400px) !important;
}
@media (max-width: 1280px) {
  #sidebar{
    left: -450%;
  }
  #bottomBar{
    left: 0 !important;
  }
  #map{
    width: 100% !important;
    margin-left: 0px !important;
  }
  #bottomBar{
    width: 100% !important;
  }
  #mobileMenuBtn{
    display: inline-block;
  }
}

#sidebar.sidebar-mobile-show{
  left: 0px !important;
}



/*
  Sidebar Footer
*/
.identification{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9pt;
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  padding-left: 8px;
  opacity: .75;
  text-align: center;
  color: #6e7490;
}
.identification img{
  margin-left: 5px;
  width: 50px;
  height: auto;
}
.sidebar-footer{
  display: block;
  box-sizing: border-box;
  padding: 15px!important;
  text-align: center;
  border-top: 1px dashed rgba(0,0,0,.25);
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sidebar-footer a{
  font-size: 10px;
  color: rgba(0,0,0,0.5);
}

/*
Misc
Misc
Misc
*/
#handle i{
  color: white;
}
#handle{
  background-color: #10162C !important;
}
#tabContainer{
  background-color: rgb(247, 247, 249) !important;
}
#bottomBar #tabContainer{
  width: 100% !important;
}

.actionBtn{
  width: 100%;
  text-align: center;
  transition: 0.2s;
  color:white;
}
.actionBtn:hover{
  transition: 0.2s;
  color: rgba(255,255,255,0.88);
  cursor: pointer;
}

#bottomBar #tabContainer{
  height: auto !important;
  max-height: 100% !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
